<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= app.path.img %>/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= app.path.img %>/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= app.path.img %>/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= app.path.img %>/favicon/site.webmanifest">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (key in htmlWebpackPlugin.files.css) { %>
        <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
          <link
            href="<%= htmlWebpackPlugin.files.css[key] %>"
            rel="stylesheet"
            integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
            crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
        <%} else { %>
          <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
        <%} %>
    <%} %>
     <!--[if lt IE 9]>
      <script src="<%= app.path.js %>/html5shiv.js"></script>
      <script src="<%= app.path.js %>/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
    <% include ./partials/header.ejs %> 
    </header>

    <section>
    <%- htmlWebpackPlugin.options.htmlContents %>
    </section>

    <footer>
    <% include ./partials/footer.ejs %> 
    </footer>

    <% for (key in htmlWebpackPlugin.files.chunks) { %>
      <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
        <script
          src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
          type="text/javascript"
          integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
          crossorigin="<%= webpackConfig.output.crossOriginLoading %>">
        </script>
      <%} else { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
      <%} %>
    <%} %>

  </body>
</html>
